<body class="body">
<h1>{{ title }}</h1>

<div class="dropdown">
  <button class="dropbtn">Genre</button>
  <div class="dropdown-content">
    <a href="#">Action</a>
    <a href="#">Comedy</a>
    <a href="#">Horror</a>
    <a href="#">Romance</a>
    <a href="#">Romcom</a>
  </div>
</div>
<a class="switch" href="/">Switch User</a>
<!-- <a href="#">Switch Profiles</a> -->
<h3>{{message}}</h3>
<div class="posters">
<ul class="movies">
  {{#each movies}}
    <li>
      <h2>
        {{ movies_title}}
      </h2>
        <a href="/details/{{movies_trailer}}"><img src="/images/{{movies_cover}}" alt=""></a>
    </li>
  {{/each}}
</ul>
</div>
<!-- <p>whats upppppp</p> -->
</body>
